HTTP_ADDR=:8080

POSTGRES_USER=admin
POSTGRES_PASS=admin
POSTGRES_PORT=5432
POSTGRES_DB=simple_bank

DATABASE_URL_LOCAL=postgres://${POSTGRES_USER}:${POSTGRES_PASS}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=disable
DATABASE_URL_DOCKER=postgres://${POSTGRES_USER}:${POSTGRES_PASS}@db:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=disable